html {
  min-height: 100%;
  position: relative;
}
body{
  background:#02010a;
}
nav{
  background: #5b7989;
  padding: 15px 15px;
  text-align: right;
  border-radius: 10px;
  font-family: 'DancingScriptRegular';
  width: 100%;
}

.nav-bar{
  display: inline-block;
  padding: 15px 15px;
  text-decoration: none;
  color: #fff;
}
.nav-name{
  text-shadow: 2px 2px #02010a;
  color:#fff;
  float: left;
  font-family: 'DancingScriptRegular';
  font-size: 19px;
}

.center-image{
background: #82c3a6;
text-align: center;


}
.left_right-images{
  background: #d5c75f;
  border: solid 1px ;
  overflow: hidden;
  padding: 10px;
  font-family: 'DancingScriptRegular';


}
a:hover{
  display: inline-block;
  text-decoration: none;
}

.img-left{
  text-align: center;
  float: left;

}
.img-right {
  text-align: center;
  float: right;

}
.img-left > a> img{
    box-shadow:2px 2px #82c3a6;
}
.img-right > a> img{
    box-shadow:2px 2px #82c3a6;
}

.img-left:hover{
  transform: rotate(10deg);
}

.img-right:hover{
   transform: translate(20px,-5px);
}

footer{
  border-radius: 10px;
  background:#C6d5c5;
  overflow: hidden;
  width: 100%;
}
.contact{
float: left;
margin: 0 6%;
font-family: 'DancingScriptRegular';
}
.conditions{
float: left;
margin: 0 6%;
font-family: 'DancingScriptRegular';
}
.social_media{
float: left;
margin: 0 6%;
  font-family: 'DancingScriptRegular';
}
.right_footer{
float: left;
margin: 0 6%;
  font-family: 'DancingScriptRegular';
}
/*paisaje y retrato*/
.contenido{
  background:#d5c75f;
  overflow: hidden;
  display: flex;
  justify-content: center
}
.landscape_portrait_img{
  float: inherit;
  padding: 10px;
  margin: 10px;
}
.img_one{
filter: blur(10px);
box-shadow:2px 2px  #02010a;
	width: 100%;
}
.img_two{
filter: grayscale(100%);
box-shadow:2px 2px  #02010a;
	width: 100%;
}
.img_three{
filter: sepia(90%);
box-shadow:2px 2px  #02010a;
	width: 100%;
}
.img_four{
filter: grayscale(100%);
box-shadow:2px 2px  #02010a;
	width: 100%;
}
.img_five{
box-shadow:2px 2px  #02010a;
	width: 100%;
}
.img_six{
filter: grayscale(100%);
box-shadow:2px 2px  #02010a;
	width: 100%;
}
/*RESPONSIVE*/
/*menu nevegación*/
@media screen and (max-width: 800px) {
  nav{
      overflow: hidden;
      width: 100%;
  }
  nav>p{
  text-align: center;
  width: 100%;
  height: auto;
  float: none;
  display: block;
  }
  .nav-main{
    text-align: center;
  }

}

/*imagenes responsive*/
@media screen and (max-width: 800px){
  .center-image > img{
    width: 80%;
  }

  .left_right-images{
  display: flex;
  flex-direction: column;
  }
   .img-left{
    width: 80%;
    padding: 0 1rem;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;

  }
  .img-right{
    width: 80%;
    padding: 0 1rem;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;

  }
  .img-left>a>img{
      width: 80%;
  }
  .img-right>a>img{
      width: 80%;
  }
}
/*footer responsive*/
